<style type="text/css" media="screen">
#page {
       	background-color: #f0f0f0;
        width: 500px;
        margin-top: 250px;
        margin-left: auto;
				margin-right: auto;
				padding: 25px;
			}
table, th, td
{
	border: 0px;
	width: 500px;
}

</style>

<div id="page">
	<h2>We have your strengths ready to review</h2>
	<h3>You will see the full descriptions on your profile page</h3>
	<br />
	<h1>Ideator</h1>
	<h2>Adaptability</h2>
	<h3>Strategic</h3>
	<h4>Connectedness</h4>
	<h5>Empathy</h5>
	<hr>
<table border="0">
	<tr>
		<td id="buttonRow"><%= button_to('Next', bitMoreInfo_url )%></td>
	</tr>
</table>
</div
