<style type="text/css" media="screen">
	#thisPage {
  	background-color: #f0f0f0;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
		margin-right: auto;
		padding: 25px;
	}

	#firstStrengthText{
		font-size: 3em;
		color: #618C04;
	}

</style>
<div id="wrapper">
<%= render 'layouts/logo' %>
<hr />
<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->

<div id="thisPage">
	<h2>We have your strengths ready to review</h2>
	<h3>You will see the full descriptions on your profile page</h3>
	<br />
	<div id="firstStrengthText">Ideator</div>
	<h2>Adaptability</h2>
	<h3>Strategic</h3>
	<h4>Connectedness</h4>
	<h5>Empathy</h5>
	<hr>
<table border="0" width="500px">
	<tr>
		<td id="buttonRow"><%= button_to('Next', bitMoreInfo_url )%></td>
	</tr>
</table>
</div>
<%= render 'layouts/footer' %>
