<style type="text/css" media="screen">
	#thisPage {
  	background-color: #f0f0f0;
    width: 450px;
    margin-top: 100px;
    margin-left: auto;
		margin-right: auto;
		padding: 25px;
	}

	#firstStrengthText{
		font-size: 3.5em;
		color: #618C04;
	}

	#secondStrengthText{
		font-size: 3em;
		color: #618C04;
	}

	#thirdStrengthText{
		font-size: 2.5em;
		color: #618C04;
	}

	#fourthStrengthText{
		font-size: 2em;
		color: #618C04;
	}

	#fifthStrengthText{
		font-size: 1.5em;
		color: #618C04;
	}

	#nextButton {
		width: 450px;
		position:absolute;
		right:0px;
	}

</style>
<div id="wrapper">
<%= render 'layouts/logo' %>
<hr />
<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->

<div id="thisPage">
	<h2>We have your strengths ready to review</h2>
	<h3>You will see the full descriptions on your profile page</h3>
	<br />
	<div id="firstStrengthText">Ideator</div>
	<div id="secondStrengthText">Adaptability</div>
	<div id="thirdStrengthText">Strategic</div>
	<div id="fourthStrengthText">Connectedness</div>
	<div id="fifthStrengthText">Empathy</div>
	<hr>
<div id="nextButton">
	<%= button_to('Next', bitMoreInfo_url )%>
</div><!-- end #buttonRow -->
</div><!-- end #thisPage -->
<%= render 'layouts/footer' %>
