<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
  
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Level Set</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
  
</head><body>
<div id="wrapper">
<%= render 'layouts/logo' %>
<hr />
<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->
<div id="page">
<div id="page-bgtop">
<div id="content">
<div class="post">
<h2 class="title"><a href="#">Welcome to Level Set<br />
</a></h2>
<p class="meta">Monday, Feburary 20,&nbsp; 2012 Posted by <a href="#">Level
Set Team</a></p>
<div class="entry">
<p>This is <span style="font-weight: bold;">Level Set</span><strong>.
We want everyone to have the satisfaction that comes from maximizing their strengths. We want everyone to work inside a team that compliments them and compensates for their weaknesses. We want the world to be changed by groups formed in this way.</strong></p>
</div>
</div>
</div>
<!-- end #content -->
<div id="sidebar">
<ul>
  <strong> </strong>
  <li><strong> </strong>
    <h2><strong>Coming Soon!<br />
    </strong></h2>
    <strong> </strong>
    <p><strong>Discover, Share, and Leverage your Strengths</strong></p>
    <strong> </strong></li>
  <strong> </strong>
  <li><strong> </strong>
    <h2><strong>Team Members<br />
    </strong></h2>
    <strong> </strong>
    <ul>
      <strong> </strong>
      <li><strong><a href="#">Gregg Cosco<br />
        </a></strong></li>
      <strong> </strong>
      <li><strong><a href="#">Matt Lowe<br />
        </a></strong></li>
      <strong> </strong>
      <li><strong><a href="#">Mark McFadden</a></strong></li>
      <strong> </strong>
    </ul>
    <strong> </strong></li>
  <strong> </strong>
  <li><strong> </strong>
    <ul>
      <strong> </strong>
    </ul>
    <strong> <a href="#">We want everyone to have the satisfaction that comes from maximizing their strengths. We want everyone to work inside a team that compliments them and compensates for their weaknesses. We want the world to be changed by groups formed in this way.</a> </strong></li>
</ul>
</div><!-- end #sidebar -->
</div><!-- end #page-bgtop -->
<%= render 'layouts/footer' %>
</div><!-- end #page -->
</body></html>
