<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
  
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Level Set</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<style type="text/css" media="screen">
	
	/* Content */
	#pageImage {
		width: 930px;
		padding-left: 50px;
		padding-bottom: 30px;
	}

	/*end content*/

</style>

</head><body id="waw">
<div id="wrapper">
<%= render 'layouts/logo' %>
<hr />
<%= render 'layouts/menu' %>
</div><!-- end #wrapper -->
<div id="page">

<!-- ********* Content ********* -->
<div id="pageImage">
	<%= image_tag "/assets/wawFullPage.gif", :alt => "Who are we?", :size => "885x400" %>
</div>
<!-- *********** END Content *********** -->
	
<%= render 'layouts/footer' %>
</div><!-- end #page -->
</body></html>
