/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(/assets/img01.gif) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #575757;
}

h1, h2, h3 {
	margin: 0;
	/* text-transform: uppercase; */
	font-weight: normal;
	color: #618C04;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #77B003; }

a#logout { 
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 7px 0 0 0;
	display: block;
	float: right;
	height: 30px;
	margin: 0;
}

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

td#buttonRow{
	text-align:right;
}

/* Header */

#header-wrapper {
}

#header {
	width: 940px;
	height: 36px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 425px;
	height: 43px;
	background: url(/assets/img02.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 30px;
	margin: 0;
	padding: 17px 5px 0px 5px;
	background: url(/assets/img02.gif) no-repeat left top;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
}

/* for the demo */
body#home a#home, 
body#waw a#waw,
body#wdwd a#wdwd,
body#wcyd a#wcyd,
body#way a#way {
	color: #495084;
	font-size: 1.1em;
}

/* end for the demo */

#menu .current_page_item a {
}

#menu .first {
}
/* Login */

#login {
	float: right;
	width: 450px;
	color: #ffffff;
	font-weight: bold;
}

#login form {
	float: right;
	margin: 0;
	padding: 11px 0px 0 0;
}


#login fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

/*
#login input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}
*/
#login-text {
	width: 125px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#login-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #5AA01B;
	color: #FFFFFF;
}

#create-profile-button {
	height: 21px;
	margin-left: 10px;
	margin-top: 5px;
	padding: 0px 5px;
	background: #5AA01B;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 70px 0px 0px 0px;
}

/** LOGO */

	#logo {
		width: 800px;
		height: 115px;
		margin-left: 175px;
	} 	

	#logoImg {
		width: 75px; 
		height: 64px;
		padding-top: 20px;
		vertical-align:bottom;
	}

	#logoText {
		font-size: 45px;
		color: #618C04;
	}

	#logoPhrase {
		margin-left: 50px;	
		font-size: 20px;
		vertical-align:text-bottom;
	}

/* END LOGO */

#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	float: right;
	width: 670px;
}

/* Post */

.post {
	margin-bottom: 45px;
}

.post .title {
	height: 44px;
	padding-left: 15px;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #618C04;
}

.post .date {
}

.post .meta {
	margin-top: -8px;
	margin-left: 2px;
	padding: 0px 30px 2px 15px;
	border-bottom: 1px solid #D4D8CB;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	margin-bottom: 10px;
	padding: 10px 15px 10px 15px;
}

.post .links {
	display: block;
	width: 120px;
	height: 20px;
	margin: 0px 0px 0px 0px; 
	padding: 4px 0px 0px 40px;
	background: url(/assets/img03.gif) no-repeat left top;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: url(/assets/img07.gif) no-repeat left top;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #961A06;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 14px;
}

#sidebar li li {
	margin: 0;
	padding: 12px 0px;
	border-bottom: 1px solid #E9E8DD;
	background: url(/assets/img08.gif) no-repeat left 18px;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	font-weight: normal;
	color: #808080;
}

#sidebar li li a:hover {
	color: #77B003;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 14px;
	background: url(/assets/img05.gif) repeat-x left top;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #618C04;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

/* Footer */

#footer {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	background: #E1E1E1;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
}

#footer a {
}

