<div id="logo">
	<%= image_tag "/assets/levelsetLogoSmall.gif", :id => "logoImg", :alt => "Level-Set Logo" %> <span id="logoText">level set</span>
  <span id="logoPhrase">discover, share, and leverage your strengths</span>
</div><!--end logo -->
