<div id="logo">
<table style="text-align: left; width: 319px; height: 99px;" border="0" cellpadding="2" cellspacing="0">
  <tbody>
    <tr>
      <td style="vertical-align: top;"><br />
	<%= image_tag "/assets/levelsetLogoSmall.gif", :size => "75x64", :alt => "Level-Set Logo" %>
	<br />
      </td>
      <td style="vertical-align: top;">
      <h1>Level Set</h1>
      <p><em> changing the way the world works<br />
      </a></em></p>
      </td>
    </tr>
  </tbody>
</table>
</div><!--end logo -->
