<div id="logo">
<table style="text-align: left; width: 319px; height: 99px;" border="0" cellpadding="2" cellspacing="0">
  <tbody>
    <tr>
      <td style="vertical-align: top;"><br />
      <img style="width: 75px; height: 64px;" alt="Level Set Logo" src="/assets/levelsetLogoSmall.jpg" /><br />
      </td>
      <td style="vertical-align: top;">
      <h1>Level Set</h1>
      <p><em> changing the way the world works<br />
      </a></em></p>
      </td>
    </tr>
  </tbody>
</table>
</div><!--end logo -->
